<?xml version="1.0" encoding="utf-8"?>
<DataType Key="113aa1ae-666f-40a6-9c40-934a03f8abc3" Alias="AboutUsTopic - AboutUsBlockLIst - Block List" Level="1">
  <Info>
    <Name>AboutUsTopic - AboutUsBlockLIst - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8a8c652b-4df9-4cc7-8a76-6d83f012e165",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>