<?xml version="1.0" encoding="utf-8"?>
<DataType Key="127eb036-6798-4de7-aac1-1f565002d4ef" Alias="Applied Innovation Center - Social Media In Home - Block Grid" Level="1">
  <Info>
    <Name>Applied Innovation Center - Social Media In Home - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "25d50990-51f5-4dac-82f3-9340c0044703",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": true,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>