<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c00d6af3-2df8-46ad-8973-878e50311d3d" Alias="[BlockList] Social Media Feeds - Embedded Posts" Level="1">
  <Info>
    <Name>[BlockList] Social Media Feeds - Embedded Posts</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9463bd3a-8614-4fab-9181-15368dc2c9bc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{postTitle}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>