<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7236fb9d-885c-4388-bb87-288c35e12814" Alias="[FileUpload] Email Attachment" Level="1">
  <Info>
    <Name>[FileUpload] Email Attachment</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": []
}]]></Config>
</DataType>