<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f73813b3-8e3d-4910-ad04-294434905d5e" Alias="Homepage - Projects - Multinode Treepicker" Level="1">
  <Info>
    <Name>Homepage - Projects - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "project",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/090833f3a26b4b2fa9a4c569fc42385a",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>