<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3b195bf-7b23-4350-947e-e0125d79283c" Alias="Homepage - Projects - Content Picker" Level="1">
  <Info>
    <Name>Homepage - Projects - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/090833f3a26b4b2fa9a4c569fc42385a"
}]]></Config>
</DataType>