<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e8bc990-9cdd-4599-870f-ff407bcffcf0" Alias="Homepage - Multinode Treepicker" Level="1">
  <Info>
    <Name>Homepage - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "career",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/a6148eddc5c74975a357af13518e9936",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>