<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc61bef4-dde1-4985-b82d-b8e29c0189fe" Alias="Homepage - displayedCareers - Multinode Treepicker (1)" Level="1">
  <Info>
    <Name>Homepage - displayedCareers - Multinode Treepicker (1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "career",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": true,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/99d8a765bd574b94960436368bbdc287",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>