<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1af10fe-0458-4208-a76a-7193990dd839" Alias="[MediaPicker] Featured Image" Level="1">
  <Info>
    <Name>[MediaPicker] Featured Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "thumb",
      "height": 150,
      "label": "Thumb",
      "width": 200
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>