<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12f61022-dea5-416b-9685-f4a2bc2fafb6" Alias="[MediaPicker] Video Picker" Level="1">
  <Info>
    <Name>[MediaPicker] Video Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>