<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8534c5c1-98fc-4aea-bc30-c2b65cdc693f" Alias="[MNTreePicker] Site Settings - Searchable Types" Level="1">
  <Info>
    <Name>[MNTreePicker] Site Settings - Searchable Types</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "projects",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/84f70a06bf454b81b197c174b16f6c43",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>