<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40c5dd89-5763-40ac-a77a-a333c9694baa" Alias="[MNTreePicker] Newsletter Mail - Recipents" Level="1">
  <Info>
    <Name>[MNTreePicker] Newsletter Mail - Recipents</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Member",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "",
    "type": "member"
  }
}]]></Config>
</DataType>