<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d94741dd-a01a-4339-9fff-3d7fbb8c3eb6" Alias="[MNTreePicker] Project - Topic" Level="1">
  <Info>
    <Name>[MNTreePicker] Project - Topic</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "topic",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/e149c794ac5f4dca8a2dca2d1917a72a",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>