<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b92c3ac-4e3a-4756-9c6c-75ab3cff9714" Alias="[MultiURLPicker] Single URL Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>