<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e433eb43-c73f-4de0-998f-f199ddba271d" Alias="National Archives of Egypt - Social Media Links - Block List" Level="1">
  <Info>
    <Name>National Archives of Egypt - Social Media Links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f1480923-5fd3-43e9-8bff-221ae85c23f1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Social Media Links",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>