<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae02b7e4-eaf1-468a-9d6d-6513c7dbca7d" Alias="Side Social Media - Image - Media Picker" Level="1">
  <Info>
    <Name>Side Social Media - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/466c88bfcc804e7fb5bf8e3c8f8836c4",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>