<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76281303-017b-408f-9b16-c2f38af4d3ce" Alias="Site Settings - Allowed Extentions - Repeatable textstrings" Level="1">
  <Info>
    <Name>Site Settings - Allowed Extentions - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>