<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c34fc83-86b3-48f6-8499-c183190c19c1" Alias="[TextArea] Project - Short Description" Level="1">
  <Info>
    <Name>[TextArea] Project - Short Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 200,
  "Rows": null
}]]></Config>
</DataType>