<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11ac7fc7-cd60-44cf-8eee-e06841369bae" Alias="TitleDescriptionLink - Link - Multi URL Picker" Level="1">
  <Info>
    <Name>TitleDescriptionLink - Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>