<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5d066ab-b01a-43ae-bbd1-a1b0e867c4fc" Alias="Video Gallery - Video Gallery videos - Block List" Level="1">
  <Info>
    <Name>Video Gallery - Video Gallery videos - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d5a9d837-d013-405e-ac62-4bd5e79a23d8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>