<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ca4af06-3134-4d8e-a310-feacbe25c9c3" Alias="32" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:38:36</CreateDate>
    <NodeName Default="32" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/acxljdbu/32.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>