<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5d2e9c7-7f4a-4b5d-ab72-5f69c1ed9199" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-21T18:30:17</CreateDate>
    <NodeName Default="About" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yhunf3kk/about.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>