<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddb3198e-b10d-456f-b43f-6bdd6b9aa560" Alias="Ar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-04T15:27:10</CreateDate>
    <NodeName Default="Ar" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ramlhxin/ar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>