<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bc6d852-4d95-4876-a23d-5b6ed8169a3a" Alias="BB D46e17ae 4Fbd 49A5 A5cf 3E4008ab3f37 Fppreview" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BBD46e17ae4Fbd49A5A5cf3E4008ab3f37Fppreview</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-01-31T15:51:41</CreateDate>
    <NodeName Default="BB D46e17ae 4Fbd 49A5 A5cf 3E4008ab3f37 Fppreview" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/plmmng2v/bb_d46e17ae-4fbd-49a5-a5cf-3e4008ab3f37_fppreview.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>