<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8d6c9b7-b2f1-4fb9-b85d-ef29d2cbb0ea" Alias="BB D46e17ae 4Fbd 49A5 A5cf 3E4008ab3f37 Fppreview (1)" Level="2">
  <Info>
    <Parent Key="c4091f9a-51e1-4f69-9306-cfb50b1dabe5">test Videos</Parent>
    <Path>/testVideos/BBD46e17ae4Fbd49A5A5cf3E4008ab3f37Fppreview1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-01-28T10:32:22</CreateDate>
    <NodeName Default="BB D46e17ae 4Fbd 49A5 A5cf 3E4008ab3f37 Fppreview (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t5ennshr/bb_d46e17ae-4fbd-49a5-a5cf-3e4008ab3f37_fppreview.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>