<?xml version="1.0" encoding="utf-8"?>
<Media Key="b512e3e8-2afa-47d7-bd94-3d18e9a0a6b4" Alias="Favicon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-30T12:59:04</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4drbfnp0/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>