<?xml version="1.0" encoding="utf-8"?>
<Media Key="e44d0164-8216-4eb9-90dd-ffc76ab277f0" Alias="Favicon (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Favicon1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-30T13:01:23</CreateDate>
    <NodeName Default="Favicon (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pqaf1zaw/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>