<?xml version="1.0" encoding="utf-8"?>
<Media Key="7994f161-57e2-40c8-910e-727be6bee486" Alias="Homelayout" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homelayout</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-08T15:20:16</CreateDate>
    <NodeName Default="Homelayout" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m5yji4pc/homelayout.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>