<?xml version="1.0" encoding="utf-8"?>
<Media Key="04c69d1e-9a85-4145-add7-f4654ff3726c" Alias="img-01-big.jpg (3)" Level="2">
  <Info>
    <Parent Key="466c88bf-cc80-4e7f-b5bf-8e3c8f8836c4">SocialMediaIcons</Parent>
    <Path>/SocialMediaIcons/img01Bigjpg3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T14:14:32</CreateDate>
    <NodeName Default="img-01-big.jpg (3)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dconmbef/img-01-big.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>