<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5966a8f-8c19-42c8-ada3-8b452376a0d1" Alias="img-01-big.jpg" Level="2">
  <Info>
    <Parent Key="466c88bf-cc80-4e7f-b5bf-8e3c8f8836c4">SocialMediaIcons</Parent>
    <Path>/SocialMediaIcons/img01Bigjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:43:12</CreateDate>
    <NodeName Default="img-01-big.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[]]></Value>
    </umbracoFile>
  </Properties>
</Media>