<?xml version="1.0" encoding="utf-8"?>
<Media Key="72179eae-d3f9-4d2a-836d-b07d6c0d61d1" Alias="img-01-big.jpg (2)" Level="2">
  <Info>
    <Parent Key="466c88bf-cc80-4e7f-b5bf-8e3c8f8836c4">SocialMediaIcons</Parent>
    <Path>/SocialMediaIcons/img01Bigjpg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T13:53:07</CreateDate>
    <NodeName Default="img-01-big.jpg (2)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[]]></Value>
    </umbracoFile>
  </Properties>
</Media>