<?xml version="1.0" encoding="utf-8"?>
<Media Key="65a04b27-7607-461a-98c8-9bc1a9c0befc" Alias="Img 07" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img07</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-21T18:30:08</CreateDate>
    <NodeName Default="Img 07" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/efflazih/img-07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>