<?xml version="1.0" encoding="utf-8"?>
<Media Key="63699e34-c2ad-49a2-9a4b-c0cf86287b66" Alias="Img 01 Big" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img01Big</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-21T18:29:56</CreateDate>
    <NodeName Default="Img 01 Big" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gkpgsy3n/img-01-big.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>