<?xml version="1.0" encoding="utf-8"?>
<Media Key="7abafc33-159a-44f7-b995-8d8a9d2effa4" Alias="Logo Colored" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoColored</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-08T14:53:46</CreateDate>
    <NodeName Default="Logo Colored" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gx4lu4u0/logo-colored.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>