<?xml version="1.0" encoding="utf-8"?>
<Media Key="a73e61c1-72b3-4d74-bec3-657668677816" Alias="Pexels Roshan Kamath 1661179" Level="2">
  <Info>
    <Parent Key="c4091f9a-51e1-4f69-9306-cfb50b1dabe5">test Videos</Parent>
    <Path>/testVideos/PexelsRoshanKamath1661179</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T14:01:33</CreateDate>
    <NodeName Default="Pexels Roshan Kamath 1661179" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y3qd3j3t/pexels-roshan-kamath-1661179.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>