<?xml version="1.0" encoding="utf-8"?>
<Media Key="aaac7ed6-2490-4b22-bb81-4fef4f33890e" Alias="Pexels George Desipris 792381 (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsGeorgeDesipris7923812</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-31T15:51:35</CreateDate>
    <NodeName Default="Pexels George Desipris 792381 (2)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0b5kzkuq/pexels-george-desipris-792381.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>