<?xml version="1.0" encoding="utf-8"?>
<Media Key="eccbb378-df25-4f5f-b3ea-fc029c1b6f36" Alias="Pexels George Desipris 792381 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsGeorgeDesipris7923811</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-18T12:26:53</CreateDate>
    <NodeName Default="Pexels George Desipris 792381 (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p0znx1bf/pexels-george-desipris-792381.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>