<?xml version="1.0" encoding="utf-8"?>
<Media Key="8aa1c398-8393-4ae7-ba0f-2091613803c5" Alias="Pexels Roshan Kamath 1661179 (1)" Level="2">
  <Info>
    <Parent Key="c4091f9a-51e1-4f69-9306-cfb50b1dabe5">test Videos</Parent>
    <Path>/testVideos/PexelsRoshanKamath16611791</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T14:49:09</CreateDate>
    <NodeName Default="Pexels Roshan Kamath 1661179 (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t1bldcut/pexels-roshan-kamath-1661179.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>