<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4091f9a-51e1-4f69-9306-cfb50b1dabe5" Alias="test Videos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/testVideos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-01-21T12:59:34</CreateDate>
    <NodeName Default="test Videos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>