<?xml version="1.0" encoding="utf-8"?>
<Media Key="327dd51d-9f45-47b9-8937-0534ddb4b227" Alias="U Heartcore 2 500X500 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UHeartcore2500X5001</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-07T14:31:44</CreateDate>
    <NodeName Default="U Heartcore 2 500X500 (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dpkh0msf/u_heartcore-2-500x500.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>