<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="039eca14-0a57-4624-8943-1373f9b693b1" Alias="aboutUsTopic" Level="1">
  <Info>
    <Name>AboutUsTopic</Name>
    <Icon>icon-application-window-alt color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>AboutUsTopic</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="00002c14-7fe9-4fd3-89b5-78d153b0281f">AboutUsTopic</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1c0a8820-df85-4d44-9f92-3ca65d150370</Key>
      <Name>AboutUsBlockLIst</Name>
      <Alias>aboutUsBlockLIst</Alias>
      <Definition>113aa1ae-666f-40a6-9c40-934a03f8abc3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="properties">properties</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ce9da156-d21f-440a-9fee-df40642aa910</Key>
      <Caption>properties</Caption>
      <Alias>properties</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>