<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d06d299c-1a67-4dab-9d2f-38f77a194813" Alias="aboutUs" Level="1">
  <Info>
    <Name>AboutUs</Name>
    <Icon>icon-application-window-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="039eca14-0a57-4624-8943-1373f9b693b1" SortOrder="0">aboutUsTopic</ContentType>
    <ContentType Key="99caeca3-6ba2-42d0-a440-e7cbf9da1522" SortOrder="1">ourPeople</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>