<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2d0eca87-b55f-4542-a425-9546257bb8ea" Alias="appliedInnovationCenter" Level="1">
  <Info>
    <Name>Applied Innovation Center</Name>
    <Icon>icon-network-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="75dfaf48-f12c-4138-ba77-8e1c5c21f043">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="42e846a8-8a3c-4134-8cb3-08be4c63f60b" SortOrder="0">homePage</ContentType>
    <ContentType Key="d06d299c-1a67-4dab-9d2f-38f77a194813" SortOrder="1">aboutUs</ContentType>
    <ContentType Key="5118aa3a-df7c-4f61-88a7-449ba977d733" SortOrder="2">projects</ContentType>
    <ContentType Key="fb19bb0b-7057-4139-8095-3ab089df9451" SortOrder="3">mediaCenter</ContentType>
    <ContentType Key="bfc1994a-50fb-443e-ae9f-9494f785e89f" SortOrder="4">socialMediaFeeds</ContentType>
    <ContentType Key="9036a3bd-521d-4400-8128-7144b01a7028" SortOrder="5">searchPage</ContentType>
    <ContentType Key="d892086c-5995-4602-b32c-c6c3d82d1969" SortOrder="6">contactUs</ContentType>
    <ContentType Key="371f6849-ccaa-4093-a18c-5c620b2c584a" SortOrder="7">careerOpportunities</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ef1a902f-a4fa-4661-a869-c17e9a4cff13</Key>
      <Name>Logo In Footer</Name>
      <Alias>logoInFooter</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3e9accc-7da9-4c59-9d01-b049a01b7dc1</Key>
      <Name>Logo In Home</Name>
      <Alias>logoInHome</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e504095-e7b5-4afb-b39d-8baa98393f8f</Key>
      <Name>Logo In Inner Pages</Name>
      <Alias>logoInInnerPages</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5eaedbcc-907c-4b61-bb44-651b87a86ee9</Key>
      <Name>Social Inner Pages</Name>
      <Alias>socialInnerPages</Alias>
      <Definition>127eb036-6798-4de7-aac1-1f565002d4ef</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="socialMedia">Social Media</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>83e67fd6-13c7-4dc9-b92c-83ef57ae6802</Key>
      <Name>Social Media In Home</Name>
      <Alias>socialMediaInHome</Alias>
      <Definition>127eb036-6798-4de7-aac1-1f565002d4ef</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="socialMedia">Social Media</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9a1da90d-49ba-4f47-8a6c-878fdb43a95b</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>d2cdc995-f2b6-4d48-8f12-d1f0e86ac9e9</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>de81bd88-f82a-4d77-868a-7da3855f6cbf</Key>
      <Caption>Social Media</Caption>
      <Alias>socialMedia</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>