<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2cccc7cd-2674-43a2-beef-6762957bf256" Alias="careers" Level="1">
  <Info>
    <Name>Careers</Name>
    <Icon>icon-briefcase color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>CareerOpportunities</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f8f013c4-20d2-4a7e-ae0a-2f9c2b778278">CareerOpportunities</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2ff3854a-e775-42f1-9cbc-70808eef0748" SortOrder="0">career</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>