<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="371f6849-ccaa-4093-a18c-5c620b2c584a" Alias="careerOpportunities" Level="1">
  <Info>
    <Name>career opportunities</Name>
    <Icon>icon-handshake color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2cccc7cd-2674-43a2-beef-6762957bf256" SortOrder="0">careers</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>