<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="866d5733-c20f-4c00-8c75-df800b272f8b" Alias="contactUsSubmissions" Level="1">
  <Info>
    <Name>contact us submissions</Name>
    <Icon>icon-addressbook color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a3fc3e2a-168d-4e4a-a0c2-80dcbaed6fff" SortOrder="0">contactUsSubmission</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>