<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42e846a8-8a3c-4134-8cb3-08be4c63f60b" Alias="homePage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="75dfaf48-f12c-4138-ba77-8e1c5c21f043">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bbc8a8a0-2850-4a7e-9a72-6dd51e81bddd</Key>
      <Name>button display careers</Name>
      <Alias>buttonDisplayCareers</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="careers">careers</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>136fafb0-cca8-4e32-844c-06214c4d7e20</Key>
      <Name>button display contact us</Name>
      <Alias>buttonDisplayContactUs</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contactUs">Contact Us</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99d5a539-8379-408a-9a28-498f84ca5beb</Key>
      <Name>career Description</Name>
      <Alias>careerDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="careers">careers</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ef57bb9-592d-48e1-a4a2-d1a7e7557a08</Key>
      <Name>career Page Link</Name>
      <Alias>careerPageLink</Alias>
      <Definition>7b92c3ac-4e3a-4756-9c6c-75ab3cff9714</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="careers">careers</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea682b29-ee09-4f8e-b115-d1f0afe16629</Key>
      <Name>career Title</Name>
      <Alias>careerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="careers">careers</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b6691ff-fa36-4d26-ac77-2ccf7ecf5415</Key>
      <Name>Contact Us Redirect</Name>
      <Alias>contactUsRedirect</Alias>
      <Definition>7b92c3ac-4e3a-4756-9c6c-75ab3cff9714</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contactUs">Contact Us</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>003c6b8e-865f-4651-ae6a-670bf4cb8b02</Key>
      <Name>Contact Us Section Description</Name>
      <Alias>contactUsSectionDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contactUs">Contact Us</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e27aa82-7f31-4bd3-bc23-6c921271eb95</Key>
      <Name>Contact Us Section Title</Name>
      <Alias>contactUsSectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contactUs">Contact Us</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>567f3241-f779-494d-8005-ed7ad848a126</Key>
      <Name>displayedCareers</Name>
      <Alias>displayedCareers</Alias>
      <Definition>cc61bef4-dde1-4985-b82d-b8e29c0189fe</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="careers">careers</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4a8d6db8-4a03-4b7b-81d6-3da8f5c6d8b2</Key>
      <Name>Main Slider</Name>
      <Alias>mainSlider</Alias>
      <Definition>ef910877-04eb-4750-b642-403eedfa8d49</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homeSlider">Home Slider</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50220d9c-f65c-4afc-ba8f-71625dc05c13</Key>
      <Name>Projects</Name>
      <Alias>projects</Alias>
      <Definition>f73813b3-8e3d-4910-ad04-294434905d5e</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the projects you want to display at home page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aicProjects">AIC Projects</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d0dcb6b-4b1b-4440-96e7-aafd147fe97b</Key>
      <Name>Projects Section Title</Name>
      <Alias>projectsSectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aicProjects">AIC Projects</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>42343d19-72ae-4dbf-acdb-68c1522dee06</Key>
      <Caption>Home Slider</Caption>
      <Alias>homeSlider</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>4931c627-0463-412f-b536-3787bdd724e0</Key>
      <Caption>careers</Caption>
      <Alias>careers</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>c52cc0d5-c50f-49e0-ac2b-66b157dfa93c</Key>
      <Caption>Contact Us</Caption>
      <Alias>contactUs</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>cd0eeecf-7032-4feb-914b-5369ca70c680</Key>
      <Caption>AIC Projects</Caption>
      <Alias>aicProjects</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>