<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb19bb0b-7057-4139-8095-3ab089df9451" Alias="mediaCenter" Level="1">
  <Info>
    <Name>Media Center</Name>
    <Icon>icon-umb-media color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4b442b9b-6d28-4ec4-b7b8-9c90e1e36683" SortOrder="0">photoGalleries</ContentType>
    <ContentType Key="af4033b6-0767-4358-bd30-1058c4bad787" SortOrder="1">videoGalleries</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>