<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03" Alias="menuNavigation" Level="2">
  <Info>
    <Name>Menu Navigation</Name>
    <Icon>icon-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Composition+Folder</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>adea48ff-c6a7-45c3-8796-510890f998f6</Key>
      <Name>Show In Footer</Name>
      <Alias>showInFooter</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If true it will appear in the list in the footer]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainNavigation">Main Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>234b8e5a-d482-4167-a655-22b9568e7450</Key>
      <Name>Show In Header</Name>
      <Alias>showInHeader</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If true it will appear in the main menu in the header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainNavigation">Main Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7cdac974-1f29-437e-9880-57cfdce40044</Key>
      <Caption>Main Navigation</Caption>
      <Alias>mainNavigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>