<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1eb4eaa3-28c0-42f1-ab9d-3885713c05b0" Alias="newsletterMails" Level="3">
  <Info>
    <Name>Newsletter Mails</Name>
    <Icon>icon-message color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container for Mail Documents</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Document+Types/Container+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5e00924b-c8bb-4039-b75b-7238c0233719" SortOrder="0">newsletterMail</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>