<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e00924b-c8bb-4039-b75b-7238c0233719" Alias="newsletterMail" Level="2">
  <Info>
    <Name>Newsletter Mail</Name>
    <Icon>icon-message color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Represents an Email that will be sent to selected recipents</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Document+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>965d950c-e516-45f1-b341-fefa128f8726</Key>
      <Name>Attachments</Name>
      <Alias>attachments</Alias>
      <Definition>62f56a04-9fd0-498a-a5ba-23ede3f60f07</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any files you'd like to attach to the Email]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mailDetails">Mail Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7596caa0-5691-48b6-8ff0-2d20a3cd788e</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Content of the Email being Sent]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mailDetails">Mail Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>68626a6f-9080-4109-9bef-e2f036d739f3</Key>
      <Name>Recipents</Name>
      <Alias>recipents</Alias>
      <Definition>40c5dd89-5763-40ac-a77a-a333c9694baa</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A List of Members you'd like to send this email to]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="recipents">Recipents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6ee5d3d-1138-4c77-a35d-0a2160a7bb7d</Key>
      <Name>Send to All</Name>
      <Alias>sendToAll</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box if you want to send this email to All Members]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="recipents">Recipents</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82435af5-f3e6-44c5-ba7e-957ed44bda6d</Key>
      <Name>Subject</Name>
      <Alias>subject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subject of the Email]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mailDetails">Mail Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4a8b3e45-6bb9-431e-824e-0d86e2847468</Key>
      <Caption>Recipents</Caption>
      <Alias>recipents</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>aef1add6-190a-47c2-8fc2-b136d56c4307</Key>
      <Caption>Mail Details</Caption>
      <Alias>mailDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>