<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99caeca3-6ba2-42d0-a440-e7cbf9da1522" Alias="ourPeople" Level="1">
  <Info>
    <Name>OurPeople</Name>
    <Icon>icon-addressbook color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>OurPeople</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a7b9e270-c5f3-45cb-81c5-1dfcbac618e1">OurPeople</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="23845462-9a94-430a-be4b-5361b7ce4e91" SortOrder="0">employee</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>