<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4b442b9b-6d28-4ec4-b7b8-9c90e1e36683" Alias="photoGalleries" Level="1">
  <Info>
    <Name>Photo galleries</Name>
    <Icon>icon-photo-album color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>PhotoGalleries</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="71c71f48-e14e-4d4f-8972-68ba6d541bfe">PhotoGalleries</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3e12bf57-16b0-4d1b-b9b4-e58ee2f540fb" SortOrder="0">photoGallery</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>