<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b789647d-e36f-41d2-9ff9-294549906115" Alias="project" Level="2">
  <Info>
    <Name>Project</Name>
    <Icon>icon-app color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Project that was made by AIC</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Document+Types</Folder>
    <Compositions>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Project</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1b59994d-3f13-4494-b88b-3c3ca9380148">Project</Template>
      <Template Key="64461b5b-4db1-4eb5-af39-873c9d51ae88">ProjectDemo</Template>
      <Template Key="a767fee1-cf5d-473b-878a-7b6cc1f9d423">ProjectRelatedNews</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c3ebb326-0aa7-4296-ba1a-fcf329bc0a1f</Key>
      <Name>Description</Name>
      <Alias>demoDescription</Alias>
      <Definition>d7c1cbc3-521f-4b26-b0f7-cd78a4972bd9</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Description of the Demo]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="demo">Demo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce1643bb-839a-4611-b36a-c30ada0142e3</Key>
      <Name>Demo Link</Name>
      <Alias>demoLink</Alias>
      <Definition>7b92c3ac-4e3a-4756-9c6c-75ab3cff9714</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[External link for the Demo]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="demo">Demo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3204aa33-0324-4b4a-921d-baa9a8ebba0d</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>d7c1cbc3-521f-4b26-b0f7-cd78a4972bd9</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Full Description of the Project]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="projectDetails">Project Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>428f2278-3d9b-41b0-93b2-b9d1d7fe3321</Key>
      <Name>Featured Image</Name>
      <Alias>featuredImage</Alias>
      <Definition>c1af10fe-0458-4208-a76a-7193990dd839</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Featured Image of the Project]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="projectDetails">Project Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b86bb7f3-d306-4631-810a-291a6c1a1796</Key>
      <Name>Media</Name>
      <Alias>media</Alias>
      <Definition>0a31c180-91b4-4a07-82ed-e4c3ece9f3f0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any Media Related to the Project or the Project's Demo]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="demo">Demo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa3f7658-9a2e-4e6a-9771-e28b258bbd38</Key>
      <Name>Predictions &amp; Decisions</Name>
      <Alias>predictionsDecisions</Alias>
      <Definition>94c0f56b-1292-4fd9-a989-71ca0a30a877</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Predictions & Decisions related to the Project]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="demo">Demo</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6a2706b5-0c9c-4096-bc89-830ba6f96f85</Key>
      <Name>Related News</Name>
      <Alias>relatedNews</Alias>
      <Definition>109f4428-a626-4e9a-bced-a4d6f4980204</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Any News Related to this Project.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="relatedNews">Related News</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfa0fe2b-f60c-4244-9415-af68237e7cc0</Key>
      <Name>Short Description</Name>
      <Alias>shortDescription</Alias>
      <Definition>7c34fc83-86b3-48f6-8499-c183190c19c1</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introduction text for the project]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="projectDetails">Project Details</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>457ad261-43d5-40dd-9ec9-5ee8fff5f009</Key>
      <Name>Topic</Name>
      <Alias>topic</Alias>
      <Definition>d94741dd-a01a-4339-9fff-3d7fbb8c3eb6</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select Project Topic, any selected topic belongs to a domain by default.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="projectDetails">Project Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>128c93e5-0533-4a1d-8f7e-86afd5ab471c</Key>
      <Caption>Related News</Caption>
      <Alias>relatedNews</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>273aa82c-8eb5-4287-87f4-f38fc2f33ff9</Key>
      <Caption>Project Details</Caption>
      <Alias>projectDetails</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>67ef2171-b424-4ff9-a030-9b79c46e11c6</Key>
      <Caption>Demo</Caption>
      <Alias>demo</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>