<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8adca17d-da3b-411a-a302-408b1e9443ed" Alias="projectDomains" Level="3">
  <Info>
    <Name>Project Domains</Name>
    <Icon>icon-box color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Main Category (Domain) of a Project</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Document+Types/Container+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f0e72bf7-f0e0-4c9a-8823-0b8cb52c5497" SortOrder="0">domain</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>