<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9036a3bd-521d-4400-8128-7144b01a7028" Alias="searchPage" Level="3">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>For Search Results</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Document+Types/Page+Types</Folder>
    <Compositions />
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="37792d59-e99a-41b3-84ef-abba0e8fdf3e">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>