<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3571370b-e3c9-45e5-a219-258633f99dbc" Alias="siteSettings" Level="3">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Document+Types/Root+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>68675cdc-6894-4dec-a4cc-059ba278cc8d</Key>
      <Name>allowedExtentions</Name>
      <Alias>allowedExtentions</Alias>
      <Definition>799aee67-654d-40d4-a5f2-b4bcc2269c62</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/mediaTypeValidationSettings">Media Type Validation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cbfc4170-1b0b-4b5d-a064-71c45f0c01bc</Key>
      <Name>Analytics Tracking Code</Name>
      <Alias>analyticsTrackingCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Your Tracking/Measurement code should look something like "G-XXXXXX"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/googleAnalytics">Google Analytics</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1ddf36a1-17df-4428-a710-781adbb7ab30</Key>
      <Name>File media type file size</Name>
      <Alias>fileMediaTypeFileSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/mediaTypeValidationSettings">Media Type Validation Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df623803-5059-4be9-ba29-501e55c7d183</Key>
      <Name>Image File Size</Name>
      <Alias>imageFileSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/mediaTypeValidationSettings">Media Type Validation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34e8b8b2-8632-426c-9213-ff7448148877</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/generalSEO">General SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc0650e9-d770-4d80-bda3-c691d19c852e</Key>
      <Name>Meta KeyWords</Name>
      <Alias>metaKeyWords</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/generalSEO">General SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>328a920d-669e-4511-a9a9-56a3a75a4f24</Key>
      <Name>Searchable Types</Name>
      <Alias>searchableTypes</Alias>
      <Definition>8534c5c1-98fc-4aea-bc30-c2b65cdc693f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The types that are available in the site search]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/siteSearchSettings1">Site Search Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92041e98-3ab7-4d0d-a32d-305dd818f4a4</Key>
      <Name>Time-Zone</Name>
      <Alias>timeZone</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Default timezone for the site GMT +/- (Default 2)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/siteSearchSettings1">Site Search Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8d1e2286-bc4e-4a55-a2d7-729a4a26beef</Key>
      <Name>umbracoMediaArticle</Name>
      <Alias>umbracoMediaArticle</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings/mediaTypeValidationSettings">Media Type Validation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da0209d5-b379-44c5-8e6a-7fc2bf45e648</Key>
      <Name>umbracoMediaAudio file size</Name>
      <Alias>umbracoMediaAudioFileSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="settings/mediaTypeValidationSettings">Media Type Validation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9833f824-0a29-4c40-9fcc-e360858207ff</Key>
      <Name>umbracoMediaVectorGraphics file size</Name>
      <Alias>umbracoMediaVectorGraphicsFileSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="settings/mediaTypeValidationSettings">Media Type Validation Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00a34d89-0a25-491d-bb13-a72494a80ebc</Key>
      <Name>video File Size</Name>
      <Alias>videoFileSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/mediaTypeValidationSettings">Media Type Validation Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f8e02625-2175-4242-9350-8c0aa59ef767</Key>
      <Name>Youtube Api Token</Name>
      <Alias>youtubeApiToken</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The API Access Token used for the API, can be obtained from Google Cloud Console]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/youtubeSettings">Youtube Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dfb46c4c-950c-450e-b6aa-554e61d288bd</Key>
      <Name>Application Name (Optional)</Name>
      <Alias>youtubeApplicationName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A Name to be used by Google (Default. "AIC")]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/youtubeSettings">Youtube Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc69f035-7d3d-452d-bbd5-ab5b96b35872</Key>
      <Name>Youtube Channel UserName</Name>
      <Alias>youtubeChannelUserName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Username of the Channel which the API will pull the videos from, Obtained from Channel Page (Share, Copy UserName)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/youtubeSettings">Youtube Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>25d2f273-6ce8-4f57-bb27-29dbf11239b5</Key>
      <Caption>Site Search Settings</Caption>
      <Alias>settings/siteSearchSettings1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3022a949-a85e-4880-a43f-f80a5f106342</Key>
      <Caption>General SEO</Caption>
      <Alias>settings/generalSEO</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>3f0c3c25-6257-4e99-80e3-3611df419183</Key>
      <Caption>Google Analytics</Caption>
      <Alias>settings/googleAnalytics</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>71e12c15-a258-4e51-922b-ecd407a2d493</Key>
      <Caption>Youtube Settings</Caption>
      <Alias>settings/youtubeSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>826668d7-7769-40fe-9009-f221a6e2e8ce</Key>
      <Caption>Media Type Validation Settings</Caption>
      <Alias>settings/mediaTypeValidationSettings</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>e13e11f8-90cf-4ba4-9bca-71bf653c94f6</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>