<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9463bd3a-8614-4fab-9181-15368dc2c9bc" Alias="socialMediaEmbeddedPost" Level="2">
  <Info>
    <Name>Social Media Embedded Post</Name>
    <Icon>icon-megaphone color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Represents Embedded Post on different social media platforms</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types+Folder</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5998d3b2-9489-4fae-af86-bee37a054bf8</Key>
      <Name>Embed Code</Name>
      <Alias>embedCode</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Paste the embed code that comes up when you select "Embed" on any Facebook post here.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="post">Post</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Embed Code is required</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71329383-89ab-4608-89ba-97c4116af2d4</Key>
      <Name>Post Title</Name>
      <Alias>postTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Title of the Post (Optional)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="post">Post</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>82c4209d-2c51-436e-976c-035f7600685d</Key>
      <Caption>Post</Caption>
      <Alias>post</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>