<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bfc1994a-50fb-443e-ae9f-9494f785e89f" Alias="socialMediaFeeds" Level="3">
  <Info>
    <Name>Social Media Feeds</Name>
    <Icon>icon-megaphone color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Page displaying Social Media Feeds/Posts for AIC Social Platforms</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Document+Types/Page+Types</Folder>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
    </Compositions>
    <DefaultTemplate>SocialMediaFeeds</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="96898eed-2425-4d82-99dc-afc8f4d8539a">SocialMediaFeeds</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7ce3b523-dc94-4b34-a2ab-82643ea608ac</Key>
      <Name>Facebook Embedded Posts</Name>
      <Alias>facebookEmbeddedPosts</Alias>
      <Definition>c00d6af3-2df8-46ad-8973-878e50311d3d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Facebook posts currently being displayed in the Social Media Feeds]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="facebook">Facebook</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>123f4910-07b8-47a5-9d1f-fb15521bbc59</Key>
      <Name>LinkedIn Embedded Posts</Name>
      <Alias>linkedInEmbeddedPosts</Alias>
      <Definition>c00d6af3-2df8-46ad-8973-878e50311d3d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[LinkedIn posts current being displayed in the Social Media Feeds]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="linkedIn">LinkedIn</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c26e38d6-9768-405c-8912-b1d046524349</Key>
      <Caption>LinkedIn</Caption>
      <Alias>linkedIn</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>deda7dcf-ccf2-4ffd-98c6-cbb39e209635</Key>
      <Caption>Facebook</Caption>
      <Alias>facebook</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>