<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af4033b6-0767-4358-bd30-1058c4bad787" Alias="videoGalleries" Level="1">
  <Info>
    <Name>Video Galleries</Name>
    <Icon>icon-video color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="caa63fab-9c32-4f51-9eb9-0e9d4ba73a03">menuNavigation</Composition>
      <Composition Key="316bb5f3-b467-47ee-8d4e-0b86eaa5889a">sEO</Composition>
    </Compositions>
    <DefaultTemplate>VideoGalleries</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b6983550-97fc-41a2-a7aa-99f506d9bc31">VideoGalleries</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a0662043-52e7-4573-a86c-3124cd0abc98" SortOrder="0">videoGallery</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>