<?xml version="1.0" encoding="utf-8"?>
<Domain Key="e44eaf62-0000-0000-0000-000000000000" Alias="/en/about-us/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="327617e3-49d1-4aa4-a8dd-663527c278ed">/مركز الابتكار التطبيقي/من نحن</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>