<?xml version="1.0" encoding="utf-8"?>
<Domain Key="5f785b64-0000-0000-0000-000000000000" Alias="/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="84f70a06-bf45-4b81-b197-c174b16f6c43">/مركز الابتكار التطبيقي</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>