<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bf1be6ee-7428-49c7-ae20-5f3bbdbcfeeb" Alias="AIC Projects" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">مشروعات</Translation>
    <Translation Language="en-US">AIC Projects</Translation>
  </Translations>
</Dictionary>