<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a3a1c9ad-5a0f-4ce6-b090-983d4614a900" Alias="city" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">مدينة</Translation>
    <Translation Language="en-US">city</Translation>
  </Translations>
</Dictionary>