<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="13835d1f-1bd0-4bd6-93e4-e9cfdffce88f" Alias="ContactUsForm" Level="1">
  <Info>
    <Parent>Contact Us page Translations</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">اتصل بنا</Translation>
    <Translation Language="en-US">Contact Us Form</Translation>
  </Translations>
</Dictionary>