<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ed1b0d5c-d832-4a59-b8e8-f6c6a9b0b76a" Alias="Contact Us Form fields" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">تواصل معنا</Translation>
    <Translation Language="en-US">Contact us From</Translation>
  </Translations>
</Dictionary>