<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d2c85750-e68a-47bc-a98e-c4a3f5bc742b" Alias="Country" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">دولة</Translation>
    <Translation Language="en-US">Country</Translation>
  </Translations>
</Dictionary>