<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e588166-0498-4d87-8421-8ea5343e398f" Alias="email" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">بريد إلكتروني</Translation>
    <Translation Language="en-US">email</Translation>
  </Translations>
</Dictionary>