<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6be1555f-b863-4ae5-8d9b-fb97dc0f28b9" Alias="fail message" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">لقد حدث خطاء عند تسليم ردك</Translation>
    <Translation Language="en-US">something went wrong please resubmit the from</Translation>
  </Translations>
</Dictionary>