<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5ff7af7b-e37e-4dc5-a58f-eb8f49748035" Alias="full name" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">
الاسم الكامل</Translation>
    <Translation Language="en-US">full name</Translation>
  </Translations>
</Dictionary>