<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5af8b816-9444-4f18-af53-73ae3cc8c1e1" Alias="headofficeAddress" Level="1">
  <Info>
    <Parent>Contact Us page Translations</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">عنوان المكتب الرئيسي</Translation>
    <Translation Language="en-US">head office Address</Translation>
  </Translations>
</Dictionary>