<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b746c79c-b5c7-4ed1-813e-ce2b5a6deecd" Alias="headofficePhonenumber" Level="1">
  <Info>
    <Parent>Contact Us page Translations</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">رقم هاتف المكتب الرئيسي</Translation>
    <Translation Language="en-US">head office Phone number</Translation>
  </Translations>
</Dictionary>