<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="055f8a0d-c369-4866-ba69-c16707c21f4a" Alias="message" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">الرساله</Translation>
    <Translation Language="en-US">message</Translation>
  </Translations>
</Dictionary>