<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4658bd15-66b0-4c9c-9ff0-93c2413699b3" Alias="Phone number" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">
رقم التليفون</Translation>
    <Translation Language="en-US">phone number</Translation>
  </Translations>
</Dictionary>