<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8f6a3910-17f6-41a0-b19f-28b75fddc44d" Alias="TestDictionary" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar-EG">تم تقديم النموذج بنجاح</Translation>
    <Translation Language="en-US">the form was submitted successfully</Translation>
  </Translations>
</Dictionary>