<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7889cc65-32c6-460b-9ae6-788a66d538a1" Alias="type" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">نوع</Translation>
    <Translation Language="en-US">type</Translation>
  </Translations>
</Dictionary>