<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a68aaa11-68f3-4281-b43f-d6c9dfe8e6df" Alias="validation (required)" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">هذا المكان فارغ</Translation>
    <Translation Language="en-US">this filed is empty </Translation>
  </Translations>
</Dictionary>