<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4c0193f9-306d-4340-99d4-bbd281a95a49" Alias="validation (email)" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">الرجاء ادخل بريد الكتروني صحيح</Translation>
    <Translation Language="en-US">enter a vaild email</Translation>
  </Translations>
</Dictionary>