<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="62b70928-d958-4e2b-8996-1c784107c87d" Alias="work" Level="1">
  <Info>
    <Parent>Contact Us Form fields</Parent>
  </Info>
  <Translations>
    <Translation Language="ar-EG">الوظيفه</Translation>
    <Translation Language="en-US">work</Translation>
  </Translations>
</Dictionary>