<?xml version="1.0" encoding="utf-8"?>
<Content Key="901184ab-a64f-47ac-9c0c-a1091c85b0fe" Alias="Ahmed Hesham" Level="4">
  <Info>
    <Parent Key="7f855f03-857c-4dcd-ae08-a371c034359e">Our People</Parent>
    <Path>///OurPeople/AhmedHesham</Path>
    <Trashed>false</Trashed>
    <ContentType>employee</ContentType>
    <CreateDate>2024-01-17T12:14:51</CreateDate>
    <NodeName Default="Ahmed Hesham">
      <Name Culture="en-us">Ahmed Hesham</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="de8b8ea1-6533-414a-966b-208aa3b0d5ed">employee</Template>
  </Info>
  <Properties>
    <employeeDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </employeeDescription>
    <employeeImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ab6e696f-8499-404d-bbb0-d0276573c7d0",
    "mediaKey": "b53b0c75-90bb-461f-9745-9b608d1e0077"
  }
]]]></Value>
    </employeeImage>
    <employeeName>
      <Value Culture="en-us"><![CDATA[Ahmed Hesham]]></Value>
    </employeeName>
    <employeeTitle>
      <Value Culture="en-us"><![CDATA[develpoer]]></Value>
    </employeeTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <socialShareImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>