<?xml version="1.0" encoding="utf-8"?>
<Content Key="a527be86-b157-44cf-80e0-b40007fc8c88" Alias="ali.salem@asset.com.eg" Level="2">
  <Info>
    <Parent Key="4fa44ef2-8b2b-426e-b839-c2249d956ea6">Contact Form Submissions</Parent>
    <Path>/ContactFormSubmissions/alisalemAssetcomeg</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2024-02-08T18:23:28</CreateDate>
    <NodeName Default="ali.salem@asset.com.eg" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Cairo]]></Value>
    </city>
    <country>
      <Value><![CDATA[1]]></Value>
    </country>
    <email>
      <Value><![CDATA[ali.salem@asset.com.eg]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[Aly]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[Hi there every thing is all right]]></Value>
    </message>
    <phoneNumber>
      <Value><![CDATA[01144577436]]></Value>
    </phoneNumber>
    <type>
      <Value><![CDATA[complains]]></Value>
    </type>
    <work>
      <Value><![CDATA[Developer]]></Value>
    </work>
  </Properties>
</Content>