<?xml version="1.0" encoding="utf-8"?>
<Content Key="8007e244-bba5-4e48-abad-5c5b5ff21dce" Alias="Animals" Level="4">
  <Info>
    <Parent Key="97402719-6674-4527-b3bb-78e214749817">Video Gallery</Parent>
    <Path>//MediaCenter/VideoGallery/Animals</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGallery</ContentType>
    <CreateDate>2024-01-21T13:04:18</CreateDate>
    <NodeName Default="Animals">
      <Name Culture="en-us">Animals</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3c6184f5-d8c7-4504-a7aa-66e3426ac0af">VideoGallery</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <socialShareImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
    <videoGalleryCoverVideo>
      <Value><![CDATA[[]]]></Value>
    </videoGalleryCoverVideo>
    <videoGalleryDate>
      <Value Culture="en-us"><![CDATA[2024-01-14T00:00:00]]></Value>
    </videoGalleryDate>
    <videoGalleryDiscerption>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </videoGalleryDiscerption>
    <videoGalleryTitle>
      <Value Culture="en-us"><![CDATA[Animals ]]></Value>
    </videoGalleryTitle>
    <videoGalleryVideos>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c9ac2fa11292481699560d8885092848"
      },
      {
        "contentUdi": "umb://element/a1b36ffb781d48ccaff5e3823514c2c7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d5a9d837-d013-405e-ac62-4bd5e79a23d8",
      "udi": "umb://element/c9ac2fa11292481699560d8885092848",
      "videoElementType": []
    },
    {
      "contentTypeKey": "d5a9d837-d013-405e-ac62-4bd5e79a23d8",
      "udi": "umb://element/a1b36ffb781d48ccaff5e3823514c2c7",
      "videoElementType": [
        {
          "key": "d549edad-3b04-4ab0-9604-91778289d862",
          "mediaKey": "9121b37c-6ccf-4bc5-ad85-7408eac834b1"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </videoGalleryVideos>
  </Properties>
</Content>