<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6c777b0-57ef-4e2c-b9f6-ff42486413ed" Alias="App With Sara Ar" Level="3">
  <Info>
    <Parent Key="4cb0b9db-d74f-4935-82e4-6199adab2b7f">مجال التطبيقات</Parent>
    <Path>///AppWithSaraAr</Path>
    <Trashed>false</Trashed>
    <ContentType>topic</ContentType>
    <CreateDate>2024-02-08T15:26:47</CreateDate>
    <NodeName Default="App With Sara Ar">
      <Name Culture="ar-eg">App With Sara Ar</Name>
      <Name Culture="en-us">App With Sara</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="ar-eg"><![CDATA[App With Sara Ar]]></Value>
      <Value Culture="en-us"><![CDATA[App With Sara]]></Value>
    </description>
  </Properties>
</Content>