<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fa44ef2-8b2b-426e-b839-c2249d956ea6" Alias="Contact Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactFormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmissions</ContentType>
    <CreateDate>2024-02-06T12:25:23</CreateDate>
    <NodeName Default="Contact Form Submissions" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>