<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcdd9cb3-a47e-4d23-887f-3409bc86b6e0" Alias="doctor" Level="4">
  <Info>
    <Parent Key="99d8a765-bd57-4b94-9604-36368bbdc287">وظائف</Parent>
    <Path>////doctor</Path>
    <Trashed>false</Trashed>
    <ContentType>career</ContentType>
    <CreateDate>2024-02-06T17:33:28</CreateDate>
    <NodeName Default="doctor">
      <Name Culture="en-us">doctor</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0b356d32-a9a2-4214-95c0-b34982525dcf">career</Template>
  </Info>
  <Properties>
    <careerDescription>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p><strong>Lorem Ipsum</strong><span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.&nbsp;</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </careerDescription>
    <careerExpiryDate>
      <Value Culture="en-us"><![CDATA[2024-02-29T00:00:00]]></Value>
    </careerExpiryDate>
    <careerInformation>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3c994a3be555443d82a6ec3d3c975c11"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "611733e7-6f3f-4139-b59f-6910ba3172b2",
      "udi": "umb://element/3c994a3be555443d82a6ec3d3c975c11",
      "title": "Job Requirements",
      "description": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </careerInformation>
    <careerLoaction>
      <Value Culture="en-us"><![CDATA[categories]]></Value>
    </careerLoaction>
    <careerStartDate>
      <Value Culture="en-us"><![CDATA[2024-02-13T00:00:00]]></Value>
    </careerStartDate>
    <careerTitle>
      <Value Culture="ar-eg"><![CDATA[doctor]]></Value>
      <Value Culture="en-us"><![CDATA[Doctor Carrer Title]]></Value>
    </careerTitle>
    <careerType>
      <Value Culture="en-us"><![CDATA[full time]]></Value>
    </careerType>
    <jobReferenceNum>
      <Value Culture="en-us"><![CDATA[1232131]]></Value>
    </jobReferenceNum>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <showInFooter>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInHeader>
    <socialShareImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>