<?xml version="1.0" encoding="utf-8"?>
<Content Key="e486d183-fae6-4c0a-8a42-7585669b6d1c" Alias="Health" Level="3">
  <Info>
    <Parent Key="4cb0b9db-d74f-4935-82e4-6199adab2b7f">مجال التطبيقات</Parent>
    <Path>///Health</Path>
    <Trashed>false</Trashed>
    <ContentType>topic</ContentType>
    <CreateDate>2024-01-16T16:22:46</CreateDate>
    <NodeName Default="Health">
      <Name Culture="en-us">Health</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>