<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2053c0f-1f7f-4152-a02c-f060c8661722" Alias="Image Processing" Level="3">
  <Info>
    <Parent Key="111be8b0-d114-4864-a8a1-a440da37ba61">Technology Domain</Parent>
    <Path>//TechnologyDomain/ImageProcessing</Path>
    <Trashed>false</Trashed>
    <ContentType>topic</ContentType>
    <CreateDate>2024-01-16T16:23:15</CreateDate>
    <NodeName Default="Image Processing">
      <Name Culture="en-us">Image Processing</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>