<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bfeef6d-7b04-4ed0-96c3-ed34ba03773b" Alias="IoT" Level="3">
  <Info>
    <Parent Key="111be8b0-d114-4864-a8a1-a440da37ba61">Technology Domain</Parent>
    <Path>//TechnologyDomain/IoT</Path>
    <Trashed>false</Trashed>
    <ContentType>topic</ContentType>
    <CreateDate>2024-01-17T15:50:18</CreateDate>
    <NodeName Default="IoT">
      <Name Culture="en-us">IoT</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>