<?xml version="1.0" encoding="utf-8"?>
<Content Key="76e8a975-34cb-45b2-a48e-a95b72b9b69c" Alias="Legal" Level="3">
  <Info>
    <Parent Key="4cb0b9db-d74f-4935-82e4-6199adab2b7f">مجال التطبيقات</Parent>
    <Path>///Legal</Path>
    <Trashed>false</Trashed>
    <ContentType>topic</ContentType>
    <CreateDate>2024-01-16T16:23:00</CreateDate>
    <NodeName Default="Legal">
      <Name Culture="en-us">Legal</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>