<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed070433-db70-430f-b4cf-0ae4aa70288c" Alias="mohamed alaa" Level="4">
  <Info>
    <Parent Key="7f855f03-857c-4dcd-ae08-a371c034359e">Our People</Parent>
    <Path>///OurPeople/mohamedAlaa</Path>
    <Trashed>false</Trashed>
    <ContentType>employee</ContentType>
    <CreateDate>2024-01-17T12:15:24</CreateDate>
    <NodeName Default="mohamed alaa">
      <Name Culture="en-us">mohamed alaa</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="de8b8ea1-6533-414a-966b-208aa3b0d5ed">employee</Template>
  </Info>
  <Properties>
    <employeeDescription>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </employeeDescription>
    <employeeImage>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "9b0bd6cf-526a-4eaa-bebc-f0372a489f95",
    "mediaKey": "45769896-9380-45c7-83cf-476d559fd804"
  }
]]]></Value>
    </employeeImage>
    <employeeName>
      <Value Culture="en-us"><![CDATA[mohamed alaa]]></Value>
    </employeeName>
    <employeeTitle>
      <Value Culture="en-us"><![CDATA[Manger ]]></Value>
    </employeeTitle>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <socialShareImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>