<?xml version="1.0" encoding="utf-8"?>
<Content Key="eceb9104-cf56-4e54-997d-e2116ba46f74" Alias="Newsletter Mails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewsletterMails</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterMails</ContentType>
    <CreateDate>2024-01-22T14:59:39</CreateDate>
    <NodeName Default="Newsletter Mails" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>