<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7d8cbe1-8e98-4d09-8989-df168f222675" Alias="NLP (Natural Language Processing)" Level="3">
  <Info>
    <Parent Key="111be8b0-d114-4864-a8a1-a440da37ba61">Technology Domain</Parent>
    <Path>//TechnologyDomain/NLPNaturalLanguageProcessing</Path>
    <Trashed>false</Trashed>
    <ContentType>topic</ContentType>
    <CreateDate>2024-01-16T16:23:36</CreateDate>
    <NodeName Default="NLP (Natural Language Processing)">
      <Name Culture="en-us">NLP (Natural Language Processing)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>