<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f855f03-857c-4dcd-ae08-a371c034359e" Alias="Our People" Level="3">
  <Info>
    <Parent Key="327617e3-49d1-4aa4-a8dd-663527c278ed">من نحن</Parent>
    <Path>///OurPeople</Path>
    <Trashed>false</Trashed>
    <ContentType>ourPeople</ContentType>
    <CreateDate>2024-01-17T12:13:39</CreateDate>
    <NodeName Default="Our People">
      <Name Culture="en-us">Our People</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="a7b9e270-c5f3-45cb-81c5-1dfcbac618e1">OurPeople</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <showInFooter>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
    <socialShareImage>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>