<?xml version="1.0" encoding="utf-8"?>
<Content Key="363893de-534b-4f4f-a32b-d066ba338953" Alias="photo galleries" Level="3">
  <Info>
    <Parent Key="95a0cacb-ee98-446c-9211-d5aaa9537a80">Media Center</Parent>
    <Path>//MediaCenter/photoGalleries</Path>
    <Trashed>false</Trashed>
    <ContentType>photoGalleries</ContentType>
    <CreateDate>2024-01-18T12:22:47</CreateDate>
    <NodeName Default="photo galleries">
      <Name Culture="ar-eg">photo galleries</Name>
      <Name Culture="en-us">Photo Gallery</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="71c71f48-e14e-4d4f-8972-68ba6d541bfe">PhotoGalleries</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <showInFooter>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
    <socialShareImage>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>