<?xml version="1.0" encoding="utf-8"?>
<Content Key="b84bf1ce-1c1d-47be-87f0-3ec0d83aabe0" Alias="Sara.Ahmed@asset.com.eg" Level="2">
  <Info>
    <Parent Key="4fa44ef2-8b2b-426e-b839-c2249d956ea6">Contact Form Submissions</Parent>
    <Path>/ContactFormSubmissions/SaraAhmedAssetcomeg</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsSubmission</ContentType>
    <CreateDate>2024-02-08T18:35:47</CreateDate>
    <NodeName Default="Sara.Ahmed@asset.com.eg" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Cairo]]></Value>
    </city>
    <country>
      <Value><![CDATA[1]]></Value>
    </country>
    <email>
      <Value><![CDATA[Sara.Ahmed@asset.com.eg]]></Value>
    </email>
    <fullName>
      <Value><![CDATA[Sara]]></Value>
    </fullName>
    <message>
      <Value><![CDATA[Hello test contact us]]></Value>
    </message>
    <phoneNumber>
      <Value><![CDATA[01144577436]]></Value>
    </phoneNumber>
    <type>
      <Value><![CDATA[complains]]></Value>
    </type>
    <work>
      <Value><![CDATA[PM]]></Value>
    </work>
  </Properties>
</Content>