<?xml version="1.0" encoding="utf-8"?>
<Content Key="111be8b0-d114-4864-a8a1-a440da37ba61" Alias="Technology Domain" Level="2">
  <Info>
    <Parent Key="e149c794-ac5f-4dca-8a2d-ca2d1917a72a">المجالات</Parent>
    <Path>//TechnologyDomain</Path>
    <Trashed>false</Trashed>
    <ContentType>domain</ContentType>
    <CreateDate>2024-01-16T16:21:51</CreateDate>
    <NodeName Default="Technology Domain">
      <Name Culture="en-us">Technology Domain</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>