<?xml version="1.0" encoding="utf-8"?>
<Content Key="97402719-6674-4527-b3bb-78e214749817" Alias="Video Gallery" Level="3">
  <Info>
    <Parent Key="95a0cacb-ee98-446c-9211-d5aaa9537a80">Media Center</Parent>
    <Path>//MediaCenter/VideoGallery</Path>
    <Trashed>false</Trashed>
    <ContentType>videoGalleries</ContentType>
    <CreateDate>2024-01-21T13:01:09</CreateDate>
    <NodeName Default="Video Gallery">
      <Name Culture="ar-eg">Video Gallery</Name>
      <Name Culture="en-us">Video Gallery</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b6983550-97fc-41a2-a7aa-99f506d9bc31">VideoGalleries</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <showInFooter>
      <Value Culture="ar-eg"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
    <socialShareImage>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>