<?xml version="1.0" encoding="utf-8"?>
<Content Key="f739f858-0d74-47d4-b22b-fa9ce5db40fe" Alias="اتصل بنا" Level="2">
  <Info>
    <Parent Key="84f70a06-bf45-4b81-b197-c174b16f6c43">مركز الابتكار التطبيقي</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2024-01-29T13:11:51</CreateDate>
    <NodeName Default="اتصل بنا">
      <Name Culture="ar-eg">اتصل بنا</Name>
      <Name Culture="en-us">Contact Us</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fbf0487c-070f-4434-b83d-268508893b63">ContactUs</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="ar-eg"><![CDATA[عنوان]]></Value>
      <Value Culture="en-us"><![CDATA[Address ]]></Value>
    </address>
    <locations>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/317607c6f5dc472cb5f9432797244fb4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a024e798-5749-4974-989b-1447c76c315e",
      "udi": "umb://element/317607c6f5dc472cb5f9432797244fb4",
      "latitude": "30.013798914959168",
      "longitude": "31.208938430682377",
      "locationName": "القرية الذكية، أبو رواش، قسم الجيزة، محافظة الجيزة 3724113"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c97d8f8b6cfb418d80ecb0c1d04fa30b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a024e798-5749-4974-989b-1447c76c315e",
      "udi": "umb://element/c97d8f8b6cfb418d80ecb0c1d04fa30b",
      "latitude": "30.0671659",
      "longitude": "31.2271838",
      "locationName": "121 كورنيش النيل، RAMLET BOULAK، بولاق، محافظة القاهرة‬ 4311110"
    }
  ],
  "settingsData": []
}]]></Value>
    </locations>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <phoneNumber>
      <Value Culture="ar-eg"><![CDATA[2132131]]></Value>
      <Value Culture="en-us"><![CDATA[01144577436]]></Value>
    </phoneNumber>
    <showInFooter>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
    <socialShareImage>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>