<?xml version="1.0" encoding="utf-8"?>
<Content Key="090833f3-a26b-4b2f-a9a4-c569fc42385a" Alias="المشاريع" Level="2">
  <Info>
    <Parent Key="84f70a06-bf45-4b81-b197-c174b16f6c43">مركز الابتكار التطبيقي</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-01-16T16:53:41</CreateDate>
    <NodeName Default="المشاريع">
      <Name Culture="ar-eg">المشاريع</Name>
      <Name Culture="en-us">Projects</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="9684039a-9425-42e2-83e7-5f7af4d713c6">Projects</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <showInFooter>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
    <title>
      <Value Culture="ar-eg"><![CDATA[AIC Projects]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>