<?xml version="1.0" encoding="utf-8"?>
<Content Key="a211a0d9-dcab-4b04-a5e1-e12201824312" Alias="الاعدادات" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-01-17T18:25:22</CreateDate>
    <NodeName Default="الاعدادات">
      <Name Culture="ar-eg">الاعدادات</Name>
      <Name Culture="en-us">Settings</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <allowedExtentions>
      <Value><![CDATA[jpg
mp4
png]]></Value>
    </allowedExtentions>
    <analyticsTrackingCode>
      <Value><![CDATA[G-WC7BKFF7VK]]></Value>
    </analyticsTrackingCode>
    <fileMediaTypeFileSize>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </fileMediaTypeFileSize>
    <imageFileSize>
      <Value><![CDATA[100]]></Value>
    </imageFileSize>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[مركز الابتكار التطبيقى]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeyWords>
      <Value Culture="ar-eg"><![CDATA[[
  "مركز",
  "الابتكار"
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeyWords>
    <searchableTypes>
      <Value><![CDATA[umb://document/090833f3a26b4b2fa9a4c569fc42385a]]></Value>
    </searchableTypes>
    <timeZone>
      <Value><![CDATA[]]></Value>
    </timeZone>
    <umbracoMediaArticle>
      <Value><![CDATA[]]></Value>
    </umbracoMediaArticle>
    <umbracoMediaAudioFileSize>
      <Value><![CDATA[]]></Value>
    </umbracoMediaAudioFileSize>
    <umbracoMediaVectorGraphicsFileSize>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </umbracoMediaVectorGraphicsFileSize>
    <videoFileSize>
      <Value><![CDATA[100]]></Value>
    </videoFileSize>
    <youtubeApiToken>
      <Value><![CDATA[AIzaSyAkEe-j4A9T86mC8KTFAqqxxT0cvZnIWdk]]></Value>
    </youtubeApiToken>
    <youtubeApplicationName>
      <Value><![CDATA[]]></Value>
    </youtubeApplicationName>
    <youtubeChannelUserName>
      <Value><![CDATA[LearnWebCode]]></Value>
    </youtubeChannelUserName>
  </Properties>
</Content>