<?xml version="1.0" encoding="utf-8"?>
<Content Key="bed22c6e-6d54-4306-ab2e-cd144b0752f2" Alias="الزراعة" Level="3">
  <Info>
    <Parent Key="4cb0b9db-d74f-4935-82e4-6199adab2b7f">مجال التطبيقات</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>topic</ContentType>
    <CreateDate>2024-01-16T16:22:34</CreateDate>
    <NodeName Default="الزراعة">
      <Name Culture="ar-eg">الزراعة</Name>
      <Name Culture="en-us">Agriculture</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="ar-eg"><![CDATA[أنظمة مركز الابتكار التطبيقي للزراعة الذكيةأنظمة مركز الابتكار التطبيقي للزراعة الذكية]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>