<?xml version="1.0" encoding="utf-8"?>
<Content Key="b691f138-dd32-4073-8672-c02c378f88f9" Alias="البحث" Level="2">
  <Info>
    <Parent Key="84f70a06-bf45-4b81-b197-c174b16f6c43">مركز الابتكار التطبيقي</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2024-01-28T08:15:19</CreateDate>
    <NodeName Default="البحث">
      <Name Culture="ar-eg">البحث</Name>
      <Name Culture="en-us">Search</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="37792d59-e99a-41b3-84ef-abba0e8fdf3e">SearchPage</Template>
  </Info>
  <Properties />
</Content>