<?xml version="1.0" encoding="utf-8"?>
<Content Key="dca72f2a-e797-49c1-99bf-4271c105627b" Alias="الرئيسية" Level="2">
  <Info>
    <Parent Key="84f70a06-bf45-4b81-b197-c174b16f6c43">مركز الابتكار التطبيقي</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-01-14T17:45:45</CreateDate>
    <NodeName Default="الرئيسية">
      <Name Culture="ar-eg">الرئيسية</Name>
      <Name Culture="en-us">Home Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="75dfaf48-f12c-4138-ba77-8e1c5c21f043">Homepage</Template>
  </Info>
  <Properties>
    <buttonDisplayCareers>
      <Value Culture="ar-eg"><![CDATA[Show All ar]]></Value>
      <Value Culture="en-us"><![CDATA[Show All]]></Value>
    </buttonDisplayCareers>
    <buttonDisplayContactUs>
      <Value Culture="ar-eg"><![CDATA[اتصل بنا]]></Value>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
    </buttonDisplayContactUs>
    <careerDescription>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>حشد الثقيل المنتصر ثم, أسر قررت تم. وغير تصفح الحزب واستمر, مشروط الساحلية هذا ان. أما معركة لبلجيكا، من, الألوف الثقيلة الإنجليزية أسر ٣٠. ٣٠ دار أمام أحدث, أما بحشد الهادي الدولارات ما, هو الحزب الصفحة محاولات قبل. وبحلول الخنادق الأوروبية، ان غير, وليرتفع برلين، انه, انتباه الوزراء البولندي تم تلك</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p><strong>Lorem Ipsum</strong><span>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </careerDescription>
    <careerPageLink>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Careers",
    "udi": "umb://document/99d8a765bd574b94960436368bbdc287"
  }
]]]></Value>
    </careerPageLink>
    <careerTitle>
      <Value Culture="ar-eg"><![CDATA[Career]]></Value>
      <Value Culture="en-us"><![CDATA[Careers By Sara]]></Value>
    </careerTitle>
    <contactUsRedirect>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "name": "اتصل بنا",
    "udi": "umb://document/f739f8580d7447d4b22bfa9ce5db40fe"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Contact Form Submissions",
    "udi": "umb://document/4fa44ef28b2b426eb839c2249d956ea6"
  }
]]]></Value>
    </contactUsRedirect>
    <contactUsSectionDescription>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>حشد الثقيل المنتصر ثم, أسر قررت تم. وغير تصفح الحزب واستمر, مشروط الساحلية هذا ان. أما معركة لبلجيكا، من, الألوف الثقيلة الإنجليزية أسر ٣٠. ٣٠ دار أمام أحدث, أما بحشد الهادي الدولارات ما, هو الحزب الصفحة محاولات قبل. وبحلول الخنادق الأوروبية، ان غير, وليرتفع برلين، انه, انتباه الوزراء البولندي تم تلك</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p><strong>Lorem Ipsum</strong><span>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </contactUsSectionDescription>
    <contactUsSectionTitle>
      <Value Culture="ar-eg"><![CDATA[Contact Us]]></Value>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
    </contactUsSectionTitle>
    <displayedCareers>
      <Value Culture="ar-eg"><![CDATA[umb://document/a973e439e5ca49c1b3a7087ace30c72b,umb://document/fcdd9cb3a47e4d23887f3409bc86b6e0]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/a973e439e5ca49c1b3a7087ace30c72b,umb://document/fcdd9cb3a47e4d23887f3409bc86b6e0]]></Value>
    </displayedCareers>
    <mainSlider>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d9cbf01f3052489686962a7d5d2b774e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e4cc012bb57b4b3fa23def9a38051394",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4495916e-af72-444f-8d14-9b3f795141be",
      "udi": "umb://element/d9cbf01f3052489686962a7d5d2b774e",
      "title": "قرارات التنبؤ",
      "description": "لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص بالتصاميم سواء كانت تصاميم مطبوعه ... بروشور او فلاير على سبيل المثال ... او نماذج مواقع انترنت ...",
      "link": [
        {
          "name": "Projects",
          "udi": "umb://document/090833f3a26b4b2fa9a4c569fc42385a"
        }
      ],
      "vedioLink": null
    },
    {
      "contentTypeKey": "4495916e-af72-444f-8d14-9b3f795141be",
      "udi": "umb://element/e4cc012bb57b4b3fa23def9a38051394",
      "title": "أهداف AIC",
      "description": "التحكم في حركة المرور باستخدام البيانات الضخمة. مبادرات البيانات الضخمة التي تحاكي وتتنبأ بحركة المرور في الوقت الفعلي",
      "link": [
        {
          "name": "(AIC Mission)",
          "udi": "umb://document/0140fba20675461b83cf3e713296cb37"
        }
      ],
      "vedioLink": [
        {
          "name": "الضغط العصبى",
          "url": "https://www.youtube.com/watch",
          "queryString": "?v=8s3waZw1as0"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/37682cc583fb4a5dbab74cb2f3bc26b1",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/3d856e60e0db488a97ad87ec91bc22f4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4495916e-af72-444f-8d14-9b3f795141be",
      "udi": "umb://element/37682cc583fb4a5dbab74cb2f3bc26b1",
      "title": "AIC Objectives",
      "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the Lorem Ipsum is simply dummy text of the printing ",
      "link": [
        {
          "name": "AIC Mission",
          "udi": "umb://document/0140fba20675461b83cf3e713296cb37"
        }
      ],
      "vedioLink": null
    },
    {
      "contentTypeKey": "4495916e-af72-444f-8d14-9b3f795141be",
      "udi": "umb://element/3d856e60e0db488a97ad87ec91bc22f4",
      "title": "Predictions Decisions",
      "description": "Traffic control using Big Data. Big Data initiatives that simulate and predict traffic in real-time ",
      "link": null,
      "vedioLink": [
        {
          "name": "تيست",
          "target": "_blank",
          "url": "https://www.youtube.com/watch",
          "queryString": "?v=kHYe-nAQT_M"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </mainSlider>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <projects>
      <Value Culture="ar-eg"><![CDATA[umb://document/fb827f82dee54bc1ae39dca1ff9b10d2,umb://document/8c0319c964ec416ea10f6a12a767ee50,umb://document/b819c22d36a647eab3cd439695d61183]]></Value>
      <Value Culture="en-us"><![CDATA[umb://document/fb827f82dee54bc1ae39dca1ff9b10d2,umb://document/8c0319c964ec416ea10f6a12a767ee50,umb://document/b819c22d36a647eab3cd439695d61183]]></Value>
    </projects>
    <projectsSectionTitle>
      <Value Culture="ar-eg"><![CDATA[المشاريع ]]></Value>
      <Value Culture="en-us"><![CDATA[AIC Projects]]></Value>
    </projectsSectionTitle>
    <showInFooter>
      <Value Culture="ar-eg"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
    <socialShareImage>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>