<?xml version="1.0" encoding="utf-8"?>
<Content Key="e149c794-ac5f-4dca-8a2d-ca2d1917a72a" Alias="المجالات" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>projectDomains</ContentType>
    <CreateDate>2024-01-16T16:20:01</CreateDate>
    <NodeName Default="المجالات">
      <Name Culture="ar-eg">المجالات</Name>
      <Name Culture="en-us">Domains</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>