<?xml version="1.0" encoding="utf-8"?>
<Content Key="040a3029-cd32-4831-89d9-40e9759f5e86" Alias="حيوانات" Level="4">
  <Info>
    <Parent Key="363893de-534b-4f4f-a32b-d066ba338953">photo galleries</Parent>
    <Path>//MediaCenter/photoGalleries/</Path>
    <Trashed>false</Trashed>
    <ContentType>photoGallery</ContentType>
    <CreateDate>2024-01-18T12:24:42</CreateDate>
    <NodeName Default="حيوانات">
      <Name Culture="ar-eg">حيوانات</Name>
      <Name Culture="en-us">Animals</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0a8639d3-f9cc-4288-b393-a29be4efcb4e">photoGallery</Template>
  </Info>
  <Properties>
    <coverImage>
      <Value><![CDATA[[
  {
    "key": "686dd20a-3ac8-4f67-8b8f-00e78d22ddb6",
    "mediaKey": "8e3e481a-3544-485e-943c-ca239dc97f30"
  }
]]]></Value>
    </coverImage>
    <galleryDate>
      <Value Culture="ar-eg"><![CDATA[2024-02-08T00:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2024-01-18T00:00:00]]></Value>
    </galleryDate>
    <galleryDescription>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>هو مجرد نص وهمي لصناعة الطباعة والتنضيد. كان Lorem Ipsum هو النص الوهمي القياسي في الصناعة منذ القرن الخامس عشر الميلادي ، عندما أخذت طابعة غير معروفة لوحًا من النوع وتدافعت عليه لعمل كتاب عينة. لقد نجت ليس فقط خمسة قرون ، ولكن أيضًا القفزة في التنضيد الإلكتروني ، وظلت دون تغيير جوهري. تم نشره في الستينيات من القرن الماضي بإصدار أوراق Letraset التي تحتوي على مقاطع Lorem Ipsum ، ومؤخرًا مع برامج النشر المكتبي مثل Aldus PageMaker بما في ذلك إصدارات<span>&nbsp;</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </galleryDescription>
    <galleryTitle>
      <Value Culture="ar-eg"><![CDATA[حيوانات]]></Value>
      <Value Culture="en-us"><![CDATA[Animals]]></Value>
    </galleryTitle>
    <images>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7e4a4963176740f5ba10fefac76c214c"
      },
      {
        "contentUdi": "umb://element/172674a058404d3a8828f9ea9c1f85f9"
      },
      {
        "contentUdi": "umb://element/959b056eca3041d590fdcdf192f04035"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "77245ae7-41a7-4e05-a12c-8fad8ee9265d",
      "udi": "umb://element/7e4a4963176740f5ba10fefac76c214c",
      "blockListImage": [
        {
          "key": "5e09f1e6-012f-43ba-911f-439e29d30067",
          "mediaKey": "0e3df0e9-d35b-406a-bee1-ae0a5c465274"
        }
      ]
    },
    {
      "contentTypeKey": "77245ae7-41a7-4e05-a12c-8fad8ee9265d",
      "udi": "umb://element/172674a058404d3a8828f9ea9c1f85f9",
      "blockListImage": [
        {
          "key": "2529500f-dcb3-4c36-97d2-0bc6796851b7",
          "mediaKey": "0cd19635-bec9-4485-9901-af9bc9855c0a"
        }
      ]
    },
    {
      "contentTypeKey": "77245ae7-41a7-4e05-a12c-8fad8ee9265d",
      "udi": "umb://element/959b056eca3041d590fdcdf192f04035",
      "blockListImage": [
        {
          "key": "90d5c09f-8e6f-426b-a32b-0587eba1ff5f",
          "mediaKey": "98be32e6-28a4-44af-be48-a35aceff6cec"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <socialShareImage>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>