<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6b52196-8fa7-4289-bcfe-cbe2c922d953" Alias="خارطة الطريق الاستراتيجية" Level="3">
  <Info>
    <Parent Key="327617e3-49d1-4aa4-a8dd-663527c278ed">من نحن</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsTopic</ContentType>
    <CreateDate>2024-01-17T11:39:01</CreateDate>
    <NodeName Default="خارطة الطريق الاستراتيجية">
      <Name Culture="ar-eg">خارطة الطريق الاستراتيجية</Name>
      <Name Culture="en-us">strategic roadmap</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="00002c14-7fe9-4fd3-89b5-78d153b0281f">AboutUsTopic</Template>
  </Info>
  <Properties>
    <aboutUsBlockLIst>
      <Value Culture="ar-eg"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e810379ac8fe452f9c1cfdef32b38d16"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8a8c652b-4df9-4cc7-8a76-6d83f012e165",
      "udi": "umb://element/e810379ac8fe452f9c1cfdef32b38d16",
      "title": "خارطة الطريق الاستراتيجية",
      "description": {
        "markup": "<pre class=\"tw-data-text tw-text-large tw-ta\" data-placeholder=\"الترجمة\" data-ved=\"2ahUKEwi8wqPog_GDAxWIVqQEHUUXD_oQ3ewLegQIBRAP\">خارطة الطريق الاستراتيجية خارطة الطريق الاستراتيجية خارطة الطريق الاستراتيجية خارطة الطريق الاستراتيجية خارطة الطريق الاستراتيجية</pre>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "70f1171e-6c3c-45b6-9e40-783d9ac479eb",
          "mediaKey": "0aade719-4a9e-4635-ba51-1120b4f23899"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/29fd7ca5b49e44a28f90e90d7bd438e5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8a8c652b-4df9-4cc7-8a76-6d83f012e165",
      "udi": "umb://element/29fd7ca5b49e44a28f90e90d7bd438e5",
      "title": "strategic roadmap",
      "description": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>\n<p>&nbsp;</p>\n<p>&nbsp;</p>\n<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "image": [
        {
          "key": "8d2b2612-3137-4b29-ae22-e4482f9d1852",
          "mediaKey": "f9ca37ec-270b-4dcf-b76b-b5aaf52aa5ab"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </aboutUsBlockLIst>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <showInFooter>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
    <socialShareImage>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>