<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cb0b9db-d74f-4935-82e4-6199adab2b7f" Alias="مجال التطبيقات" Level="2">
  <Info>
    <Parent Key="e149c794-ac5f-4dca-8a2d-ca2d1917a72a">المجالات</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>domain</ContentType>
    <CreateDate>2024-01-16T16:21:33</CreateDate>
    <NodeName Default="مجال التطبيقات">
      <Name Culture="ar-eg">مجال التطبيقات</Name>
      <Name Culture="en-us">Applications Domain</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value Culture="ar-eg"><![CDATA[This is a domain for Practical Applications such as (Pharmacology, Agriculture, etc.)]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>