<?xml version="1.0" encoding="utf-8"?>
<Content Key="84f70a06-bf45-4b81-b197-c174b16f6c43" Alias="مركز الابتكار التطبيقي" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>appliedInnovationCenter</ContentType>
    <CreateDate>2024-01-14T17:29:44</CreateDate>
    <NodeName Default="مركز الابتكار التطبيقي">
      <Name Culture="ar-eg">مركز الابتكار التطبيقي</Name>
      <Name Culture="en-us">Applied Innovation Center</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="75dfaf48-f12c-4138-ba77-8e1c5c21f043">Homepage</Template>
  </Info>
  <Properties>
    <logoInFooter>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "fd99c846-db5a-4351-b0c1-7726c4318aaa",
    "mediaKey": "01800266-d654-4769-b097-eac2ebc2017f"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "602d1c4e-8815-445a-9bc0-f06fcba518ee",
    "mediaKey": "7abafc33-159a-44f7-b995-8d8a9d2effa4"
  }
]]]></Value>
    </logoInFooter>
    <logoInHome>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "111a6315-c1aa-4308-b2f4-03ca43a74f9f",
    "mediaKey": "cf31b102-a186-4189-8e97-4f72875e60f4"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "b6bcbb0a-b276-4bd0-9a94-67c00016b471",
    "mediaKey": "cf31b102-a186-4189-8e97-4f72875e60f4"
  }
]]]></Value>
    </logoInHome>
    <logoInInnerPages>
      <Value Culture="ar-eg"><![CDATA[[
  {
    "key": "394275aa-d3be-4c04-885e-86ad81f7a97a",
    "mediaKey": "7abafc33-159a-44f7-b995-8d8a9d2effa4"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5b74da21-14d6-4f44-ba61-6cb09b8b6cdb",
    "mediaKey": "7abafc33-159a-44f7-b995-8d8a9d2effa4"
  }
]]]></Value>
    </logoInInnerPages>
    <socialInnerPages>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </socialInnerPages>
    <socialMediaInHome>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a9b8a15b32894167be0e14916a21704b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "25d50990-51f5-4dac-82f3-9340c0044703",
      "udi": "umb://element/a9b8a15b32894167be0e14916a21704b",
      "image": [
        {
          "key": "dd7ec663-24e0-4665-a80f-c097521513fa",
          "mediaKey": "04c69d1e-9a85-4145-add7-f4654ff3726c"
        }
      ],
      "link": [
        {
          "name": "https://www.facebook.com/?locale=ar_AR",
          "url": "https://www.facebook.com/?locale=ar_AR"
        }
      ],
      "title": "facebook"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMediaInHome>
  </Properties>
</Content>