<?xml version="1.0" encoding="utf-8"?>
<Content Key="145c8ae2-8a7c-439d-b682-7e59c23efdd6" Alias="معرض صور" Level="4">
  <Info>
    <Parent Key="363893de-534b-4f4f-a32b-d066ba338953">photo galleries</Parent>
    <Path>//MediaCenter/photoGalleries/</Path>
    <Trashed>false</Trashed>
    <ContentType>photoGallery</ContentType>
    <CreateDate>2024-01-18T12:23:42</CreateDate>
    <NodeName Default="معرض صور">
      <Name Culture="ar-eg">معرض صور</Name>
      <Name Culture="en-us">photo gallery</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0a8639d3-f9cc-4288-b393-a29be4efcb4e">photoGallery</Template>
  </Info>
  <Properties>
    <coverImage>
      <Value><![CDATA[[]]]></Value>
    </coverImage>
    <galleryDate>
      <Value Culture="ar-eg"><![CDATA[2024-01-18T00:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2024-01-18T00:00:00]]></Value>
    </galleryDate>
    <galleryDescription>
      <Value Culture="ar-eg"><![CDATA[{
  "markup": "<p>لكن يجب أن أشرح لك كيف ولدت كل هذه الفكرة الخاطئة المتمثلة في إدانة السرور ومدح الألم ، وسأقدم لك وصفًا كاملاً للنظام ، وأشرح التعاليم الفعلية للمستكشف العظيم للحقيقة ، الباني البارع. السعادة البشرية. لا أحد يرفض أو يكره أو يتجنب المتعة نفسها ، لأنها متعة ، ولكن لأن أولئك الذين لا يعرفون كيفية السعي وراء المتعة يواجهون عواقب مؤلمة للغاية. ولا يوجد أيضًا أي شخص يحب أو يسعى أو يرغب في الحصول على الألم من نفسه ، لأنه ألم ، ولكن في بعض الأحيان تحدث ظروف يمكن أن يجلب له فيها الكدح والألم بعض المتعة الكبيرة. لنأخذ مثالا تافها ، أي منا يقوم بتمارين بدنية شاقة ، إلا للحصول على بعض المزايا منها؟ ولكن من له الحق في أن يخطئ في رجل يختار أن يستمتع بسرور ليس له عواقب مزعجة ، أو من يتجنب الألم الذي لا ينتج عنه متعة؟</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </galleryDescription>
    <galleryTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[Photo gallery]]></Value>
    </galleryTitle>
    <images>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fb2106f0105e43cd9d31a74809a29bbe"
      },
      {
        "contentUdi": "umb://element/154b324174af41cab9725903465bd207"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "77245ae7-41a7-4e05-a12c-8fad8ee9265d",
      "udi": "umb://element/fb2106f0105e43cd9d31a74809a29bbe",
      "blockListImage": [
        {
          "key": "632056fd-943c-478d-83ec-eaeb5b3b5dc0",
          "mediaKey": "5bd081ce-93bb-4aaa-aacf-c913a88ec402"
        }
      ]
    },
    {
      "contentTypeKey": "77245ae7-41a7-4e05-a12c-8fad8ee9265d",
      "udi": "umb://element/154b324174af41cab9725903465bd207",
      "blockListImage": [
        {
          "key": "85a78222-de3b-4a6f-b6d8-7912f8374750",
          "mediaKey": "335bab2a-adfc-4471-a962-adbb1d91aaf8"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </images>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <socialShareImage>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>