<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bc26181-5728-4134-8854-e34dee600d6b" Alias="منصات التواصل الاجتماعي" Level="2">
  <Info>
    <Parent Key="84f70a06-bf45-4b81-b197-c174b16f6c43">مركز الابتكار التطبيقي</Parent>
    <Path>//</Path>
    <Trashed>false</Trashed>
    <ContentType>socialMediaFeeds</ContentType>
    <CreateDate>2024-01-21T14:50:05</CreateDate>
    <NodeName Default="منصات التواصل الاجتماعي">
      <Name Culture="ar-eg">منصات التواصل الاجتماعي</Name>
      <Name Culture="en-us">Social Media</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="96898eed-2425-4d82-99dc-afc8f4d8539a">SocialMediaFeeds</Template>
  </Info>
  <Properties>
    <facebookEmbeddedPosts>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/eae5720b3b73473cab72d7c5f841ee03"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9463bd3a-8614-4fab-9181-15368dc2c9bc",
      "udi": "umb://element/eae5720b3b73473cab72d7c5f841ee03",
      "postTitle": "Try the Latest Posts",
      "embedCode": "<iframe src=\"https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpublictestingpage%2Fposts%2Fpfbid0sT97tNNAdAEDEAWrxna6Z5h2ZHXdwi9of3CjWaJ2VXDYBTVxfNvPvkwKQ6VpdCzil&show_text=true&width=500\" width=\"500\" height=\"166\" style=\"border:none;overflow:hidden\" scrolling=\"no\" frameborder=\"0\" allowfullscreen=\"true\" allow=\"autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share\"></iframe>"
    }
  ],
  "settingsData": []
}]]></Value>
    </facebookEmbeddedPosts>
    <linkedInEmbeddedPosts>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5d59249bf98b43aa81c959b54b0bf4fa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9463bd3a-8614-4fab-9181-15368dc2c9bc",
      "udi": "umb://element/5d59249bf98b43aa81c959b54b0bf4fa",
      "postTitle": "LinkedIn Post",
      "embedCode": "<iframe src=\"https://www.linkedin.com/embed/feed/update/urn:li:share:7147227861345628160\" height=\"440\" width=\"504\" frameborder=\"0\" allowfullscreen=\"\" title=\"Embedded post\"></iframe>"
    }
  ],
  "settingsData": []
}]]></Value>
    </linkedInEmbeddedPosts>
    <showInFooter>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
  </Properties>
</Content>