<?xml version="1.0" encoding="utf-8"?>
<Content Key="99d8a765-bd57-4b94-9604-36368bbdc287" Alias="وظائف" Level="3">
  <Info>
    <Parent Key="f4597b31-8666-4dd0-b1b2-ee5b4e7569bd">فرص عمل</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>careers</ContentType>
    <CreateDate>2024-02-06T17:30:44</CreateDate>
    <NodeName Default="وظائف">
      <Name Culture="ar-eg">وظائف</Name>
      <Name Culture="en-us">Careers</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar-eg">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="f8f013c4-20d2-4a7e-ae0a-2f9c2b778278">CareerOpportunities</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metakeywords>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metakeywords>
    <metaTitle>
      <Value Culture="ar-eg"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <showInFooter>
      <Value Culture="ar-eg"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInFooter>
    <showInHeader>
      <Value Culture="ar-eg"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHeader>
    <socialShareImage>
      <Value Culture="ar-eg"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </socialShareImage>
  </Properties>
</Content>